@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex justify-content-center align-items-center">
    <h1 class="display-4">PokeAPi</h1>
    <ul>
        @foreach(var pokemon in Model.results){
            <li class="btn btn-primary m-2">
                @pokemon.name
            </li>
        }
    </ul>
    @{
        var cantidadPaginas = (int)Math.Ceiling((double)Model.Pokemons / Model.RegistrosPorPagina);
    }
    @if (Model.next==1)
    {
        <li class="disabled">@Html.ActionLink("Anterior", null, new {pagina = 1})</li>
    }
    else
    {
        <li>@Html.ActionLink("Anterior", null, new {pagina = Model.PaginaActual - 1})</li>
    }
    @if (Model.PAginaActual == cantidadPaginas)
    {
        <li class="disabled">@Html.ActionLink("Siguiente", null, new {pagina = cantidadPaginas })</li>
    }
    else
    {
        <li>@Html.ActionLink("Siguiente", null, new {pagina = Model.PaginaActual + 1})</li>
    }


</div>
